* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 20px;
  color: rgba(255, 240, 246, 1);
  letter-spacing: 2pt;
}

p {
  font-size: 16pt;
  color: rgba(255, 189, 206, 1);
  letter-spacing: 0.5pt;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#ffd9ec, rgb(248, 135, 164), #ffd9ec);
}

.section {
  width: 100%; /* 100% == 100vw viewport width */
  max-width: 100%; /* hach for 100vw */
  min-height: 100vh; /* VH = viewport height */
  /* overflow: hidden; */
  padding-top: 70px;
  text-align: left;
}

.section-start {
  padding-top: 200px;
}

.section-about {
  padding-top: 200px;
}

.section-portfolio {
  padding-top: 90px;
  padding-bottom: 300px;
}

.section-contacts {
  padding-top: 0px;
  min-height: 24vh;
  background-color: black;
}

.menu {
  font-size: 16pt;
  letter-spacing: 0.5pt;
  width: 75%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: rgba(252, 171, 192, 1);
  justify-content: space-around;
}

.menu a {
  color: rgba(255, 240, 246, 1);
  font-size: 16px;
  line-height: 60px;
  padding: 0 8px;
  display: block;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.menu a:hover {
  background-color: rgba(253, 121, 154, 1);
}

.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .wrapper,
.section .wrapper {
  width: 960px;
  margin: 0 auto;
}

.header {
  background-color: rgba(252, 171, 192, 1);

  position: fixed;
  width: 100%;

  top: 0px;
  left: 0px;
}

.logo {
  letter-spacing: 0.5pt;
  display: flex;
  color: rgba(253, 121, 154, 1);
  text-decoration: none;
  width: 25%;
  text-align: center;
  background-size: 100%;
  background-color: rgba(252, 171, 192, 1);
  height: 60px;
  justify-content: left;
  align-items: center;
  font-weight: bold;
}

.menu li {
  width: 100%;
}

.gallery2 {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  padding-top: 30px;
  justify-content: center;
}

.gallery2--item {
  width: 8%;
}

.gallery2--item img {
  width: 100%;
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 0px;
}

.gallery--item {
  width: 32%;
}

.gallery--item img {
  width: 100%;
  display: block;
}

.start {
  font-size: 12pt;
}

.foto {
  padding-top: 70px;
}

.foto img {
  display: block;
  width: 40%;
  margin: 0 auto;
}

.start {
  margin-bottom: 60px;
  justify-content: center;
}

.beginning {
  padding-top: 20px;
}

.beginning--special {
  padding-top: 415px;
}

.find {
  margin-top: 300px;
  margin-bottom: -270px;
  text-align: center;
  color: black;
}

.proba {
  padding-top: 60px;
  justify-content: space-around;
  display: flex;
  margin: 0 260px;
}

.biglogo {
  align-items: center;
  padding-top: 95px;
  margin-left: 560px;
}
.about__col__left {
  width: 50%;

  display: flex;
  align-items: center;
}

.about__col__left_wrapper {
  padding: 20px;
}

.about__col__right {
  width: 50%;
  display: flex;
  align-items: center;
}

.about__col__right_image {
  padding-left: 40px;
}
.about__col__right_image img {
  max-width: 100%;
}

.info {
  display: flex;
}
